/*
Button component sytles
*/

.Button {
  color: #fff;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
  border: 2px solid #eee;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
  transition: all 0.3s ease;
}
.Button:hover {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.35);
}
.Button:focus {
  outline: none;
}

.Button.Primary {
  background-color: #73BFB8;
}
.Button.Primary:hover {
  background-color: #8CCAC4;
}

.Button.Warning {
  background-color: #EA7317;
}
.Button.Warning:hover {
  background-color: #ED8C41;
}

.Button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.Button:disabled:hover {
  background-color: #ccc;
  border-color: #eee;
}
