/*
Home container styles
*/

.Hero {
  color: #fff;
  background-color: #73BFB8;
  border: 1px solid #73BFB8;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 5vh;
}
.Hero a, .Hero a:visited {
  color: #2364AA;
  text-decoration: none;
}
.Hero a:hover {
  text-decoration: underline;
}

.Polls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: auto;
  grid-gap: 24px;
}

.Polls a, .Polls a:visited, .Polls a:hover, .Polls a:focus {
  text-decoration: none;
}
